body {
    text-align: center;
    margin: 0;
  }
  nav {
    background-color: steelblue;
    padding: 1px;
    border: 4px solid steelblue;
    padding: 25px;
}
a {
color: white;
margin: 40px;
padding: 25px;
} 
#active {
    background-color: white;
    color: steelblue;
} 
h1{
    color:slateblue ;
    margin: 50px 0;
}

p {
    padding:5px;
}
.main-para{
    font-size: 1.5em;
    line-height: 1.5em;
}
header img{
    padding: 10px;
    width: 70px;
    
}
img.logo{
  width: 70px; 
  padding: 10px; 
}
img{
    width: 100%;
    background-color: steelblue;
    border: 2px solid steelblue;
}
footer{
    background-color: rgb(24, 101, 97);
    color: white;
    padding: 10px;
}
footer p{
    margin: 25px;
}